/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.deps.json
/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.dll
/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.pdb
/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.runtimeconfig.dev.json
/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.runtimeconfig.json
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.AssemblyInfo.cs
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.AssemblyInfoInputs.cache
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.csproj.CoreCompileInputs.cache
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.csproj.FileListAbsolute.txt
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.csprojResolveAssemblyReference.cache
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.dll
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.pdb
/MVC/obj/ScrumMvc.csproj.nuget.cache
/MVC/.vs/ScrumMvc/v15/.suo
/MVC/.vs/ScrumMvc/v15/Server/sqlite3/db.lock
/MVC/.vs/ScrumMvc/v15/Server/sqlite3/storage.ide
/MVC/.vs/ScrumMvc/v15/Server/sqlite3/storage.ide-shm
/MVC/.vs/ScrumMvc/v15/Server/sqlite3/storage.ide-wal
