/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.deps.json
/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.dll
/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.pdb
/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.runtimeconfig.dev.json
/MVC/bin/Debug/netcoreapp2.0/ScrumMvc.runtimeconfig.json
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.AssemblyInfo.cs
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.AssemblyInfoInputs.cache
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.csproj.CoreCompileInputs.cache
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.csproj.FileListAbsolute.txt
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.csprojResolveAssemblyReference.cache
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.dll
/MVC/obj/Debug/netcoreapp2.0/ScrumMvc.pdb
/MVC/obj/ScrumMvc.csproj.nuget.cache
/MVC/.vs/ScrumMvc/v15/.suo
/MVC/.vs/ScrumMvc/v15/Server/sqlite3/db.lock
/MVC/.vs/ScrumMvc/v15/Server/sqlite3/storage.ide
/MVC/.vs/ScrumMvc/v15/Server/sqlite3/storage.ide-shm
/MVC/.vs/ScrumMvc/v15/Server/sqlite3/storage.ide-wal
/MVC/node_modules/@aspnet/signalr-client/README.md
/MVC/node_modules/@aspnet/signalr-client/dist/browser/signalr-client-1.0.0-alpha2-final.js
/MVC/node_modules/@aspnet/signalr-client/dist/browser/signalr-client-1.0.0-alpha2-final.min.js
/MVC/node_modules/@aspnet/signalr-client/dist/browser/signalr-clientES5-1.0.0-alpha2-final.js
/MVC/node_modules/@aspnet/signalr-client/dist/browser/signalr-clientES5-1.0.0-alpha2-final.min.js
/MVC/node_modules/@aspnet/signalr-client/dist/browser/signalr-msgpackprotocol-1.0.0-alpha2-final.js
/MVC/node_modules/@aspnet/signalr-client/dist/browser/signalr-msgpackprotocol-1.0.0-alpha2-final.min.js
/MVC/node_modules/@aspnet/signalr-client/dist/browser/signalr-msgpackprotocolES5-1.0.0-alpha2-final.js
/MVC/node_modules/@aspnet/signalr-client/dist/browser/signalr-msgpackprotocolES5-1.0.0-alpha2-final.min.js
/MVC/node_modules/@aspnet/signalr-client/dist/browser/third-party-notices.txt
/MVC/node_modules/@aspnet/signalr-client/dist/src/Base64EncodedHubProtocol.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/Base64EncodedHubProtocol.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/Common.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/Common.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/Formatters.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/Formatters.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/HttpClient.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/HttpClient.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/HttpConnection.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/HttpConnection.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/HttpError.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/HttpError.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/HubConnection.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/HubConnection.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/IConnection.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/IConnection.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/IHttpConnectionOptions.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/IHttpConnectionOptions.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/IHubConnectionOptions.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/IHubConnectionOptions.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/IHubProtocol.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/IHubProtocol.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/ILogger.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/ILogger.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/JsonHubProtocol.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/JsonHubProtocol.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/Loggers.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/Loggers.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/MessagePackHubProtocol.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/MessagePackHubProtocol.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/Observable.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/Observable.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/Transports.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/Transports.js
/MVC/node_modules/@aspnet/signalr-client/dist/src/index.d.ts
/MVC/node_modules/@aspnet/signalr-client/dist/src/index.js
/MVC/node_modules/@aspnet/signalr-client/package.json
/MVC/node_modules/bl/.jshintrc
/MVC/node_modules/bl/.npmignore
/MVC/node_modules/bl/.travis.yml
/MVC/node_modules/bl/LICENSE.md
/MVC/node_modules/bl/README.md
/MVC/node_modules/bl/bl.js
/MVC/node_modules/bl/package.json
/MVC/node_modules/bl/test/test.js
/MVC/node_modules/core-util-is/LICENSE
/MVC/node_modules/core-util-is/README.md
/MVC/node_modules/core-util-is/float.patch
/MVC/node_modules/core-util-is/lib/util.js
/MVC/node_modules/core-util-is/package.json
/MVC/node_modules/core-util-is/test.js
/MVC/node_modules/inherits/LICENSE
/MVC/node_modules/inherits/README.md
/MVC/node_modules/inherits/inherits.js
/MVC/node_modules/inherits/inherits_browser.js
/MVC/node_modules/inherits/package.json
/MVC/node_modules/isarray/.npmignore
/MVC/node_modules/isarray/.travis.yml
/MVC/node_modules/isarray/Makefile
/MVC/node_modules/isarray/README.md
/MVC/node_modules/isarray/component.json
/MVC/node_modules/isarray/index.js
/MVC/node_modules/isarray/package.json
/MVC/node_modules/isarray/test.js
/MVC/node_modules/msgpack5/.jshintrc
/MVC/node_modules/msgpack5/.travis.yml
/MVC/node_modules/msgpack5/CONTRIBUTING.md
/MVC/node_modules/msgpack5/LICENSE
/MVC/node_modules/msgpack5/README.md
/MVC/node_modules/msgpack5/benchmarks/encodedecode.js
/MVC/node_modules/msgpack5/benchmarks/parseshortmap.js
/MVC/node_modules/msgpack5/dist/msgpack5.js
/MVC/node_modules/msgpack5/dist/msgpack5.min.js
/MVC/node_modules/msgpack5/example.js
/MVC/node_modules/msgpack5/index.js
/MVC/node_modules/msgpack5/lib/decoder.js
/MVC/node_modules/msgpack5/lib/encoder.js
/MVC/node_modules/msgpack5/lib/streams.js
/MVC/node_modules/msgpack5/package.json
/MVC/node_modules/msgpack5/spec.html
/MVC/node_modules/msgpack5/spec.md
/MVC/node_modules/msgpack5/test/1-byte-length-buffers.js
/MVC/node_modules/msgpack5/test/1-byte-length-exts.js
/MVC/node_modules/msgpack5/test/1-byte-length-strings.js
/MVC/node_modules/msgpack5/test/1-byte-length-uint8arrays.js
/MVC/node_modules/msgpack5/test/15-elements-arrays.js
/MVC/node_modules/msgpack5/test/15-elements-maps.js
/MVC/node_modules/msgpack5/test/16-bits-signed-integers.js
/MVC/node_modules/msgpack5/test/16-bits-unsigned-integers.js
/MVC/node_modules/msgpack5/test/2-bytes-length-arrays.js
/MVC/node_modules/msgpack5/test/2-bytes-length-buffers.js
/MVC/node_modules/msgpack5/test/2-bytes-length-exts.js
/MVC/node_modules/msgpack5/test/2-bytes-length-maps.js
/MVC/node_modules/msgpack5/test/2-bytes-length-strings.js
/MVC/node_modules/msgpack5/test/2-bytes-length-uint8arrays.js
/MVC/node_modules/msgpack5/test/31-chars-strings.js
/MVC/node_modules/msgpack5/test/32-bits-signed-integers.js
/MVC/node_modules/msgpack5/test/32-bits-unsigned-integers.js
/MVC/node_modules/msgpack5/test/32-bytes-strings.js
/MVC/node_modules/msgpack5/test/4-bytes-length-arrays.js
/MVC/node_modules/msgpack5/test/4-bytes-length-buffers.js
/MVC/node_modules/msgpack5/test/4-bytes-length-exts.js
/MVC/node_modules/msgpack5/test/4-bytes-length-strings.js
/MVC/node_modules/msgpack5/test/4-bytes-length-uint8arrays.js
/MVC/node_modules/msgpack5/test/5-bits-negative-integers.js
/MVC/node_modules/msgpack5/test/64-bits-signed-integers.js
/MVC/node_modules/msgpack5/test/64-bits-unsigned-integers.js
/MVC/node_modules/msgpack5/test/7-bits-positive-integers.js
/MVC/node_modules/msgpack5/test/8-bits-positive-integers.js
/MVC/node_modules/msgpack5/test/8-bits-signed-integers.js
/MVC/node_modules/msgpack5/test/booleans.js
/MVC/node_modules/msgpack5/test/compatibility-mode.js
/MVC/node_modules/msgpack5/test/doubles.js
/MVC/node_modules/msgpack5/test/ext-custom-encode-check.js
/MVC/node_modules/msgpack5/test/fixexts.js
/MVC/node_modules/msgpack5/test/floats.js
/MVC/node_modules/msgpack5/test/functions.js
/MVC/node_modules/msgpack5/test/levelup-encoding.js
/MVC/node_modules/msgpack5/test/null.js
/MVC/node_modules/msgpack5/test/numerictypeasserts.js
/MVC/node_modules/msgpack5/test/object-with-arrays.js
/MVC/node_modules/msgpack5/test/object-with-buffers.js
/MVC/node_modules/msgpack5/test/object-with-strings.js
/MVC/node_modules/msgpack5/test/streams.js
/MVC/node_modules/process-nextick-args/.travis.yml
/MVC/node_modules/process-nextick-args/index.js
/MVC/node_modules/process-nextick-args/license.md
/MVC/node_modules/process-nextick-args/package.json
/MVC/node_modules/process-nextick-args/readme.md
/MVC/node_modules/process-nextick-args/test.js
/MVC/node_modules/readable-stream/.npmignore
/MVC/node_modules/readable-stream/.travis.yml
/MVC/node_modules/readable-stream/CONTRIBUTING.md
/MVC/node_modules/readable-stream/GOVERNANCE.md
/MVC/node_modules/readable-stream/LICENSE
/MVC/node_modules/readable-stream/README.md
/MVC/node_modules/readable-stream/doc/wg-meetings/2015-01-30.md
/MVC/node_modules/readable-stream/duplex-browser.js
/MVC/node_modules/readable-stream/duplex.js
/MVC/node_modules/readable-stream/lib/_stream_duplex.js
/MVC/node_modules/readable-stream/lib/_stream_passthrough.js
/MVC/node_modules/readable-stream/lib/_stream_readable.js
/MVC/node_modules/readable-stream/lib/_stream_transform.js
/MVC/node_modules/readable-stream/lib/_stream_writable.js
/MVC/node_modules/readable-stream/lib/internal/streams/BufferList.js
/MVC/node_modules/readable-stream/lib/internal/streams/destroy.js
/MVC/node_modules/readable-stream/lib/internal/streams/stream-browser.js
/MVC/node_modules/readable-stream/lib/internal/streams/stream.js
/MVC/node_modules/readable-stream/package.json
/MVC/node_modules/readable-stream/passthrough.js
/MVC/node_modules/readable-stream/readable-browser.js
/MVC/node_modules/readable-stream/readable.js
/MVC/node_modules/readable-stream/transform.js
/MVC/node_modules/readable-stream/writable-browser.js
/MVC/node_modules/readable-stream/writable.js
/MVC/node_modules/safe-buffer/.travis.yml
/MVC/node_modules/safe-buffer/LICENSE
/MVC/node_modules/safe-buffer/README.md
/MVC/node_modules/safe-buffer/index.js
/MVC/node_modules/safe-buffer/package.json
/MVC/node_modules/safe-buffer/test.js
/MVC/node_modules/string_decoder/.npmignore
/MVC/node_modules/string_decoder/LICENSE
/MVC/node_modules/string_decoder/README.md
/MVC/node_modules/string_decoder/lib/string_decoder.js
/MVC/node_modules/string_decoder/package.json
/MVC/node_modules/util-deprecate/History.md
/MVC/node_modules/util-deprecate/LICENSE
/MVC/node_modules/util-deprecate/README.md
/MVC/node_modules/util-deprecate/browser.js
/MVC/node_modules/util-deprecate/node.js
/MVC/node_modules/util-deprecate/package.json
