<h1>Daily meeting sequence generator</h1>

<p>
    1.	What did you do since last daily? <br />
    2.	What will you do until the next one? <br />
    3.	Are there any impediments in your way? <br />
</p>

<p *ngIf="!dailyUsers"><em>Loading...</em></p>

<table class='table' *ngIf="dailyUsers">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of dailyUsers; let i = index">
            <td>
                <button (click)="setCurrentUserPokerValue(i)">Go</button>
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.timer }}</td>
        </tr>
    </tbody>
</table>
