<h1>Planning Poker</h1>

<p>
    How would you estimate the item?
</p>

<p *ngIf="!pokerValues"><em>Loading...</em></p>

<table class='table' *ngIf="pokerValues">
    <thead>
        <tr>
            <th>Nr</th>
            <th>User</th>
            <th>Points estimation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of pokerValues; let i = index">
            <td>
                <button (click)="setCurrentPokerValue(i)">Set</button>
            </td>
            <td>{{ user.name }}</td>
            <td>
                <input type="text" value="{{ user.points}}"/>
            </td>
        </tr>
    </tbody>
</table>
