@page "/buildteam"

@using System.Threading
@using ScrumBlazor.Data
@inject TeamsService TeamService

<h4>Build team:</h4>
<br />

<input placeholder="Check Team availability" @bind="newTeam" />
<button @onclick="(() => CheckTeam())">Check Name</button>
<label>@checkResult</label>

<td><button class="btn btn-primary" @onclick="(() => Initialize())">Initialize</button></td>

@if (participants == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var participant in participants)
        {
            <tr>
                <td>@participant.Name</td>
           </tr>
        }
        </tbody>
    </table>
}

@code {

    Participant[] participants;

    protected override async Task OnInitializedAsync()
    {
        participants = await TeamService.Load();
    }

    public void Initialize()
    {
        TeamService.Initialize();
    }

    private string newTeam;
    private string checkResult;


    private void CheckTeam()
    {
        if (!string.IsNullOrWhiteSpace(newTeam))
        {
            if (TeamService.CheckTeamAvailability(newTeam))
            {
                checkResult = "Available!";
            }
            else
            {
                checkResult = "Not available";
            }
            StateHasChanged();
        }
    }
}
