@page "/changelog"

<h3>What has changed?</h3>
<hr />

<label>Version 3.1</label>
<br />
- Preventing from joining twice the Planning Poker session
<hr />

<label>Version 3.0</label>
<br />
- 'Poker planning' renamed to 'Poker estimating' as it could be used to five voting fist technic now, too (added estimation values)
<hr />

<label>Version 2.8</label>
<br />
- Added checklist to considering during estimation sessions (poker planning)
<hr />


<label>Version 2.7</label>
<br />
- Logo added and UI updated
<hr />

<label>Version 2.6</label>
<br />
- Intro page created with details & how to
<hr />


<label>Version 2.5</label>
<br />
- Updating daily agenda,
- storing last login date & time
<hr />


<label>Version 2.1-2.4</label>
<br />
- UI improvements on selecting user
<hr />

<label>Version 2.0</label>
<br />
- Planning poker meeting page added
<hr />

<label>Version 1.0</label>
<br />
- Team maintaining page added
- Daily meeting page added
- Help world page added

<hr />
<h3>Any suggestions or bugs found?</h3>
Please contact me directly via email: kamil.hawdziejuk[at]gmail.com or <a href="https://www.linkedin.com/in/kamil-hawdziejuk-78644123/" target="_blank">LinkedIn</a> account.
