@page "/daily"

@using System.Threading
@using Newtonsoft.Json
@using ScrumBlazor.Data
@inject DailyService DailyService
@inject TeamsService TeamsService

Team Name: <input placeholder="Your team name" @bind="teamName" />
Password: <input placeholder="Your team password" @bind="password" type="password"/> 
<button class="btn btn-primary" @onclick="(() => LogIn())">Enter team</button>
<label>@loginResult</label>
<hr/>

- What did you do since last daily?
<br />
- What will you do until the next one?
<br />
- Are there any impediments in your way?
<hr />

@if (participants == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4>Team members:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>User</th>
                <th>Time elapsed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var participant in participants)
            {
            <tr>
                <td><button class="btn btn-primary" @onclick="(() => ChangeCurrentUser(participant.Nr))">Start</button></td>
                <td>@participant.Name</td>
                <td>@participant.Timer</td>
            </tr>
            }
        </tbody>
    </table>

    
    <button class="btn btn-warning" @onclick="(() => Reset())">Reset sequence</button>
    <hr />
    <p>Time since start: @_timerSecondsCount sec.</p>
}

@code {

    string teamName;
    string password;
    string loginResult;

    Team team;

    Participant[] participants;
    int _currentUserNr = -1;
    Timer _updateTimer;
    int _timerSecondsCount = 0;

    protected override async Task OnInitializedAsync()
    {
    }

    public void Dispose()
    {
        _updateTimer.Dispose();
    }

    public void LoadTeam()
    {
        team = TeamsService.GetTeam(teamName);
    }

    public async Task LogIn()
    {
        team = TeamsService.GetTeam(teamName, password);
        if (team != null)
        {
            loginResult = "Correct credentials";
            participants = await DailyService.GetParticipants(team);
            _updateTimer = new Timer(state => { InvokeAsync(UpdateCounter); }, null, 0, 1000);
        }
        else
        {
            loginResult = "Wrong credentials";
            participants = null;
        }
        StateHasChanged();
    }

    public async void Reset()
    {
        participants = await DailyService.GetParticipants(team);
        for (int i = 0; i < participants.Length; i++)
        {
            participants[i].Timer = 0;
        }

        _currentUserNr = -1;
    }

    void ChangeCurrentUser(int userNrClicked)
    {
        _currentUserNr = userNrClicked;
    }

    async Task UpdateCounter()
    {
        _timerSecondsCount++;
        if (this._currentUserNr >= 0)
        {
            participants[_currentUserNr].Timer++;
        }
        StateHasChanged();
    }

}
