@page "/helpworld"

<h3>Help the world</h3>


<p>The COVID-19 pandemic marks an unprecedented time in modern history that will require the best of humanity to overcome. The new coronavirus has taken thousands of lives and spread to nearly every country in the world. Your donation to this fund will support immediate and long-term relief and recovery in vulnerable communities during one of the most challenging times we have collectively faced.</p>

ENG: <a href="https://www.globalgiving.org/projects/coronavirus-relief-fund/">https://www.globalgiving.org/projects/coronavirus-relief-fund/</a>
<br />
PL: <a href="https://zrzutka.pl/liczysieczas">https://zrzutka.pl/liczysieczas</a>

<br/>
<br />
<b>#COVID-19</b>