@page "/"
v.0.2

<h3>Your Daily starts here</h3>

<img src="dailyIcon.png" width="300" />

<br/>

<p>This app is created to help you manage Stand-ups of remotely working team.</p>
<p>Start your meeting to generate team's sequence and monitor time elapsed.</p>


