@page "/"
<h4>Your have entered Scrum</h4>

<img src="dailyIcon.png" width="200" />

<br/>

<p>This free app is created to help you manage meetings of remotely working team, especially during COVID-19 pandemic.</p>
<p>Improve collaboration:<br/>
- create you team in a minute, <br/>
- start remote daily (with randomly generated member sequence), <br/>
- monitor time elapsed of each team member, <br/>
- see the stats from the meetings!
</p>

<hr/>
Version 2.0