@page "/"
<h4>Your have entered Scrum</h4>

<img src="dailyIcon.png" width="250" alt="Work From Home"/>

<br/>

<p>This free app is created to help you manage meetings of remotely working team.</p>
<p>Improve collaboration:<br/>
- create you team in a minute, <br/>
- perform online planning poker meetings, <br/>
- perform daily meetings (share your screen and start daily with randomly generated member sequence), <br/>
- track time elapsed of each team member, <br/>
- see the stats from the meetings
</p>
<p>Go to <NavLink class="nav-link" href="intro">Intro</NavLink> to see the details!</p>

<hr/>
<NavLink class="nav-link" href="changelog">
    Version 2.6
</NavLink>