@page "/"
<h3>Your have entered Scrum</h3>

<img src="dailyIcon.png" width="300" />

<br/>

<p>This free app is created to help you manage meetings of remotely working team.</p>
<p>In the time of COVID-19 pandemic we are working from home. To improve collaboration create a team in a minute, start remote daily with generated members sequence and monitor time elapsed. Stats from the meetings available!</p>

<hr/>
Version 1.7