@page "/"
<h4>Your have entered Scrum</h4>

<img src="logo.png" width="250" alt="Work From Home"/>

<br/>

<p>..the website created to help manage meetings of remotely working teams. Create your team in a minute and perform online planning poker and daily meetings.
</p>

<p><strong>What are the pros of using this site in your Scrum ceremonies?</strong><br/>
- daily meetings now performed with randomly generated member sequence! <br/>
- each team member has a timer and time is tracked! <br/>
- visible statistics from the meetings that you can manage! <br/>
- poker planning (or PI planning voting) estimations of other members are visible once you put yours first!
</p> 

<NavLink class="nav-link" href="intro">See details</NavLink>

<hr/>
Version 3.1