@page "/"

<h1>Your Daily starts here</h1>

<img src="dailyIcon.png" width="300" />

<br/>

<p>This app is created to help you manage Stand-ups of remotely working team.</p>

<p>Click "Daily" on the left to generate team's sequence and start your the meeting.</p>