@page "/"
<h3>Your Daily starts here</h3>

<img src="dailyIcon.png" width="300" />

<br/>

<p>This app is created to help you manage Stand-ups of remotely working team.</p>

<p>Create your team in a minute, start your remote daily with generated members sequence and monitor time elapsed!</p>