@page "/intro"

<h4>Intro / How to</h4>

<p>This free app is created to help you manage meetings of remotely working team.</p>
<p>To improve collaboration start using the site, and:<br/>
    - choose team name, set password and create you Team to add/remove members easily:<br/>
    <img src="teamPrintscreen.png" width="500"/> <br/><br/>

    - perform online Planning Poker meetings by joining to the team and setting estimation to see other members estimations: <br/>
    <img src="pokerprintScreen.jpg" width="500"/> <br/><br/>

    - perform Daily Meetings (share your screen and start daily with randomly generated member sequence), <br/>
    - track time elapsed of each team member:<br/>
    - at the end click "Stop meeting and Save" to store current values (only values above 0 will be saved) <br />
    <img src="dailyPrintScreen.png" width="500"/> <br/><br/>

    - see the stats from the meetings (average time spent per person during Daily, etc.)
</p>


