@{
    ViewData["Title"] = "Retrospective";
}

<h2>Retrospective</h2>

<h3>Start: @Html.Raw(ViewBag.CurrentDate)</h3>

<div>
    1. What went well during the sprint cycle?<br />
    2. What went wrong during the sprint cycle?<br />
    3. What could we do differently to improve?<br />
</div>

<br/><br/>
